:root {
  --background-color: #272727;
  --text-color: #edf5e1;
  --button-color: #747474;
  --path-color: #14a76c;
  --visited-color: #ffe400;
  --visited-color-2: #ff652f;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  text-align: center;
}

button {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid black;
  margin: 0px 5px;
  background-color: var(--button-color);
  color: var(--text-color);
}

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.node {
  display: inline-block;
  height: 2.8vw;
  width: 2.8vw;
  border: 0.1px solid var(--button-color);
  border-radius: .5vw;
  margin: 0;
}

@media (orientation: landscape) {
  .node {
    height: 2.8vh;
    width: 2.8vh;
  }
}

.node-start {
  background-color: #3feee6;
}

.node-end {
  background-color: #fc4445;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: var(--button-color);
    border-radius: 100%;
  }

  50% {
    background-color: var(--visited-color);
  }

  75% {
    transform: scale(1.2);
    background-color: var(--visited-color);
  }

  100% {
    transform: scale(1);
    background-color: var(--visited-color-2);
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: var(--path-color);
  }

  50% {
    transform: scale(1.2);
    background-color: var(--path-color);
  }

  100% {
    transform: scale(1);
    background-color: var(--path-color);
  }
}
